# PostgreSQL
POSTGRES_USER=ETA_DBUser
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5440

# RabbitMQ
RABBITMQ_USER=rmuser
RABBITMQ_PASS=change_me
RABBITMQ_AMQP_PORT=5680
RABBITMQ_MGMT_PORT=15673

# MinIO
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=change_me
MINIO_API_PORT=9020
MINIO_CONSOLE_PORT=9021
